.employee-information-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 55dvh;
}

.section-one .departments-list {
    padding: 0;
    cursor: default;
}

ul {
    padding: 0;
}

.info-heading {
    font-size: 18px;
    font-weight: 600;
}

.section-two div:last-child {
    margin-top: 2rem;
}




.new-employee-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.new-employee-container>div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3rem;
}

.new-employee-container~div {
    margin-right: 5rem;
}

.new-employee-container input {
    background: transparent;
    border: .5px solid var(--light-color);
    color: var(--light-color);
    border-radius: 5px;
    padding: .5rem .3rem;
    margin-bottom: .5rem;
    outline: none;
    font-family: var(--default-font-family);
}

.new-employee-container input::placeholder {
    color: color-mix(in srgb, var(--light-color) 80%, var(--dark-color));
}

.new-employee-container input[type="date"] {
    cursor: pointer;
}

.new-employee-container label {
    margin: .5rem 0 .3rem 0;
}

.new-employee-container button {
    margin-top: 7rem;
    justify-self: flex-start;
}

.new-employee-container #employee-departments-container {
    border: .5px solid var(--light-color);
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 15rem;
    overflow: scroll;
}

.new-employee-container #employee-departments-container * {
    margin: 5px;
}

.new-employee-container #employee-departments-container .departments-tag {
    background: color-mix(in srgb, var(--light-color), var(--dark-color) 40%);
    padding: 3px 5px;
    border-radius: 3px;
    white-space: nowrap;
}

.new-employee-container #employee-departments-container .departments-tag .fa-xmark {
    cursor: pointer;
    display: inline;
    color: color-mix(in srgb, var(--dark-color) 30%, #d9534f);
}

.new-employee-container #employee-departments-container select {
    background: none;
    color: var(--light-color);
    outline: none;
    font-family: var(--default-font-family);
    cursor: pointer;
    padding: 5px;
}

.new-employee-container #employee-departments-container select option {
    background: color-mix(in srgb, var(--dark-color), #0000006e 70%);
    cursor: pointer;
}

.new-employee-container #employee-departments-container::-webkit-scrollbar {
    display: none;
}

@media (max-width:600px) {
    .employee-information-container {
        flex-direction: column;
    }

    .new-employee-container button {
        margin-top: 3rem;
    }
}