<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=organisation%> - <%=projectName%></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <div class="container">
        <div class="featured-text">
            <h1><%=organisation%></h1>
            <p><%=projectName%></p>
        </div>
        <form action="/home" method="get" id="login-form">
            <div class="input-section"> 
                <input type="email" name="" id="email" class="input" placeholder="Email Address">
                <input type="password" name="" id="password" class="input" placeholder="Password">
            </div>
            <div class="action-section">
                <input type="submit" value="Login" class="btn primary-btn">
                <a class="btn ghost-btn" href="https://github.com/dhelafrank/Employee-Management-CRUD-Application">Github</a>
            </div>
        </form>
    </div>
</body>

</html>