.container {
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: var(--light-color);
    border-bottom: .5px solid color-mix(in srgb, var(--dark-color) 20%, #00000000);
}

.searchBox {
    width: 25vw;
    max-width: 15rem;
    padding: .4rem .3rem;
    border: .5px solid var(--dark-color);
    border-radius: 3px;

    overflow: hidden;
}

.searchBox input {
    border: none;
    outline: none;
    width: 85%;
    background: transparent;
}

.searchBox i {
    cursor: pointer;
}

nav .userIcon {
    width: 35px;
    height: 35px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

section {
    display: flex;
}

.sidebar {
    height: 100dvh;
    background: var(--light-color);
    width: 15dvw;
    min-width: 10rem;
    padding-top: 2rem;
    box-sizing: border-box;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    text-decoration: none;
    margin: 1rem 0 1rem 1rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

.sidebar ul li:hover,
.sidebar ul li:active {
    background: color-mix(in srgb, var(--dark-color) 20%, #00000000);
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--dark-color);
}

.active {
    background: color-mix(in srgb, var(--dark-color) 50%, #00000000);
}

.sidebar ul li.active a {
    color: var(--light-color);
}

.contents {
    color: var(--light-color);
    padding: 1.5rem 0 0 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85dvh;
}
.contents .heading{
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80dvw;
    min-width:15rem;
}
.contents::-webkit-scrollbar,
.contents::-webkit-scrollbar-thumb,
.contents::-webkit-scrollbar-track {
    display: none;
}
@media(max-width:1000px) {
    .contents {
        /* height: 85vh; */
    }
}
@media(max-width:800px) {
    .contents {
        height: 90dvh;
    }
}