.container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: var(--light-color);
    border-bottom: .5px solid color-mix(in srgb, var(--dark-color) 20%, #00000000);
}

.searchBox {
    width: 25vw;
    max-width: 15rem;
    padding: .4rem .3rem;
    border: .5px solid var(--dark-color);
    border-radius: 3px;

    overflow: hidden;
}

.searchBox input {
    border: none;
    outline: none;
    width: 85%;
    background: transparent;
}

.searchBox i {
    cursor: pointer;
}

nav .userIcon {
    width: 35px;
    height: 35px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar {
    height: 90vh;
    background: var(--light-color);
    width: 15vw;
    min-width: 10rem;
    padding-top: 2rem;
    box-sizing: border-box;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    text-decoration: none;
    margin: 1rem 0 1rem 1rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

.sidebar ul li:hover {
    background: color-mix(in srgb, var(--dark-color) 20%, #00000000);
}

.active {
    background: color-mix(in srgb, var(--dark-color) 50%, #00000000);
}

* {
    /* outline: .5px dashed red; */
}