@import url("./style.css") all;

body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
    background: #0000009d;
    padding: 0 1rem;
}

h1 {
    font-size: 3rem;
}

.container .featured-text p {
    font-size: 1.5rem;
}

form .input-section {
    margin-bottom: 1rem;
}

form .input-section .input {
    font-size: 18px;
    padding: .5rem .5rem;
    background: #00000070;
    color: #fff;
    margin-top: .5rem;
    width: 15rem;
}

form .btn {
    font-size: 18px;
}

@media (max-width:1050px) {
    .container form .input {
        width: 80%;
    }
}

@media (max-width:700px) {
    .container form .input{
        padding:1rem .5rem;
    }
    .container form .btn{
        padding: 1rem 2rem;
    }
    .container .featured-text p {
        font-size: 1.5rem;
    }

    .container {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }

}