@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap');

:root {
  --primary-color: #00B7FF;
  --dark-color: #000;
  --light-color: #fff;

  --default-font-family: "Poppins", "Lucida Grande", Helvetica, Arial, sans-serif, system-ui;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--default-font-family);
}

.input {
  background: #0000006e;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: var(--default-font-family);
  padding: .3rem .5rem;
  outline: none;
}

.input:focus {
  border: .5px solid var(--light-color);
}

.btn {
  border-radius: 5px;
  padding: .5rem 3rem;
  border: none;
  font-family: var(--default-font-family);
  cursor: pointer;
  transition: .5s ease-in-out;
}

.primary-btn {
  background: var(--primary-color);
  color: var(--light-color);
}

.primary-btn:hover {
  background: color-mix(in srgb, var(--primary-color), var(--dark-color) 20%)
}

.ghost-btn {
  border-radius: 5px;
  border: .5px solid var(--light-color);
  color: var(--light-color);
  background: #0000006e;
  padding: .5rem 3rem;
}

.ghost-btn:hover {
  background: transparent;
}

.negative-btn {
  background: #d9534f;
  color: #fff;
}

.negative-btn:hover {
  background: color-mix(in srgb, #d9534f, var(--dark-color) 20%)
}

.mobile-nav {
  display: none;
}

.action-btn-container{
  margin-right: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.action-btn-container button:first-child {margin-right: 3rem;}
.action-btn-container>button {
  margin-top: 2rem;
}

@media (max-width:700px) {
  .desktop-nav {
    display: none;
  }
}