:root {
  --primary-color: #00B7FF;
  --default-font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--default-font-family);
}

.input {
  background: #0000006e;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: var(--default-font-family);
  padding: .3rem .5rem;
  outline: none;
}

.input:focus {
  border: .5px solid #fff;
}

.btn {
  border: none;
  font-family: var(--default-font-family);
  cursor: pointer;
  transition: .5s ease-in-out;
}

.primary-btn {
  border-radius: 5px;
  padding: .5rem 3rem;
  background: var(--primary-color);
  color: #fff;
}

.primary-btn:hover {
  background: #014661;
}

.ghost-btn{
  border-radius: 5px;
  border:.5px solid #fff;
  color:#fff;
  background: #0000006e;
  padding: .5rem 3rem;
}
.ghost-btn:hover{
  background: transparent;
}